<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
	 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>

    <body style="background-color:MidnightBlue;">
    <img src = "https://cis444.s3.us-west-1.amazonaws.com/darth+vader.jpeg" style= "float:left" width="500" height="600">
    	    <h1 id="mytime"></h1>
	    <h1>Welcome {{hello}} to a galaxy far far away</h1>
	   	 <script>

               			 setInterval( function(){ $('#mytime').html( "Your rebel time is: " + new Date());}, 500);
        	 </script>
	    
	    <h2 id="hello"> </h2>
	    <h2>True imperial time is: {{server_time}}</h2>
     <img src = "https://cis444.s3.us-west-1.amazonaws.com/lukeskywalker.jpg" style= "float:right" width="500" height="600">    
    </body>
</html>
